@page "/user"
@inject IUserService  UserService
@inject NavigationManager Navigation
@implements IDisposable

<h3>User</h3>
@if (UserService.Users.Count == 0)
{
    <span>Loading Data...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Family</th>
                <th>Email</th>
                <th>Role</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in UserService.Users)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Role.Caption</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(()=>showUser(item.Id))">Show</button>
                    </td>

                </tr>

            }
        </tbody>
    </table>
    <BlazorTest.Client.Shared.User.EditUser>

    </BlazorTest.Client.Shared.User.EditUser>
}

@code {
    
    protected override async Task OnInitializedAsync()
    {

        await UserService.GetUsers();
        UserService.OnChange += StateHasChanged;

    }
    void showUser(int id)
    {

        Navigation.NavigateTo($"user/{id}");
    }

   public void Dispose()
    {
        UserService.OnChange -= StateHasChanged;
    }
}
