@page "/user"
@using BlazorTest.Shared
@inject IUserService  UserService
@inject NavigationManager Navigation
<h3>User</h3>
@if (UserList.Count == 0)
{
    <span>Loading Data...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Family</th>
                <th>Email</th>
                <th>Role</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in UserList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Role.Caption</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(()=>showUser(item.Id))">Show</button>
                    </td>

                </tr>

            }
        </tbody>
    </table>
}

@code {
    List<BlazorTest.Shared.Entities.User> UserList = new List<BlazorTest.Shared.Entities.User>();
    protected override async Task OnInitializedAsync()
    {

        UserList = await UserService.GetUsers();

    }
    void showUser(int id)
    {

        Navigation.NavigateTo($"user/{id}");
    }
}
